body{
  font-family: serif;
  text-shadow: 0px 0px 39px #000000;
  text-align: center;
}

h1{
  color: #888888;
  font-weight:100;
  font-size:2vw;
}

.daigojinkaku{
　font-size: 7vw;
 text-align: center;
  color:#888888;
}

.IdentityV{
  color: #888888;
}
  
